@font-face {
    font-family: action;
    src: url('../fonts/actionj.ttf'); /* IE9+ */
}
/*-- Sign Styles --*/
.sign {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: action;
}
.sign__word {
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    color: rgb(255,192,203);
    -webkit-animation: neon .08s ease-in-out infinite alternate;
    animation: neon .08s ease-in-out infinite alternate;
    font-family: action;

}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(220,20,60, 0.92), 0 0 30px rgba(220,20,60, 0.34), 0 0 12px rgba(219,112,147, 0.52), 0 0 21px rgba(219,112,147, 0.92), 0 0 34px rgba(219,112,147, 0.78), 0 0 54px rgba(219,112,147, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(220,20,60, 0.98), 0 0 30px rgba(220,20,60, 0.42), 0 0 12px rgba(219,112,147, 0.58), 0 0 22px rgba(219,112,147, 0.84), 0 0 38px rgba(219,112,147, 0.88), 0 0 60px #1e84f2;
    }
}
@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(220,20,60, 0.92), 0 0 30px rgba(220,20,60, 0.34), 0 0 12px rgba(219,112,147, 0.52), 0 0 21px rgba(219,112,147, 0.92), 0 0 34px rgba(219,112,147, 0.78), 0 0 54px rgba(219,112,147, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(220,20,60, 0.98), 0 0 30px rgba(220,20,60, 0.42), 0 0 12px rgba(219,112,147, 0.58), 0 0 22px rgba(219,112,147, 0.84), 0 0 38px rgba(219,112,147, 0.88), 0 0 60px #1e84f2;
    }
}
